{% extends "product/base.html" %}
{% block content %}
	<h1 class="mb-3">Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
	<!-- <h1>username:{{ posts.first.author.email }} </h1>> -->
	<div class="col-lg-9">
    <div class="row">
      {% for product in products %}
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <a href="{% url 'product-detail' product.id %}"><img class="card-img-top" src="{{ product.image.url }}" width="400" height="250" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="{% url 'product-detail' product.id %}">{{ product.title }}</a>
                
              </h4>
              
              <p class="card-text">Category: {{ product.category}}</p>
            <p class="card-text">Brand: {{ product.brand}}</p>
            <p class="card-text">Price for Rent: ${{ product.price}} / Week</p>
            </div>

          </div>
        </div>
      {% endfor %}
    </div>
        <!-- /.row -->

        {% if is_paginated %}

          {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4"  href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4"  href="?page={{ page_obj.previous_page_number }}">Previous</a>
          {% endif %}

          {% for num in page_obj.paginator.page_range %}

            {% if page_obj.number == num %}
              <a class="btn btn-info mb-4"  href="?page={{ num }}">{{ num }}</a>

            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
              <a class="btn btn-outline-info mb-4"  href="?page={{ num }}">{{ num }}</a>
            {% endif %}

          {% endfor %}

          {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4"  href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4"  href="?page={{ page_obj.paginator.num_pages }}">Last</a>
          {% endif %}

        {% endif %}

      </div>
{% endblock content%}
